.headerMain{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;

    margin-top: 10px;
}
.headerMain img{
    height: 30px;
}
.headerMain H1{
    font-size: 18px;
    font-weight: 600;
}
