.App {
  text-align: center;
  justify-content: space-around;
height: 100vh;
display: flex;
}
#kafelekone{
  width: 100%;
  height: 100vh;
  background-color: #28282a;
}
#kafelektwo{
  width: 100%;
  height: 100vh;
  background-color: #28282a;

}
#kafelekthree{
  width: 100%;
  height: 100vh;
  background-color: #28282a;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;

}
#kafelekthree:hover{
background-color: azure;
}