.App{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
}
.kafelek{
  width: 90vw;
  max-width: 500px;
  background-color: #f5f5f5;
  color: black;
  border-radius: 2px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.kafelek select{
  height: 40px;
  width: 45vw;
  max-width: 250px;
  border-radius: 0;
  color: black;
  font-family: 'Sofia Sans', sans-serif;
  margin-bottom: 15px;
}
.kafelek input{
  margin: 10px 0px;
  background-color:#f5f5f5;
  border-bottom: 2px solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  color: black;
  width: 180px
}
.kafelek p{
  margin-top: 30px;
  margin-bottom: 5px;
}

.kafelek button{
  display: none;
  margin: 10px 0;
  height: 40px;
  background-color:#e8bf28;
  color: black;
  border: black 1px solid;
  font-family: 'Sofia Sans', sans-serif;
  font-size: 18px;
}
