@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Sofia Sans', sans-serif;
  background-color: rgba(89, 131, 252, 1);
background-image: radial-gradient(circle, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%);
  color: black;
  animation: fadeIn 1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@keyframes fadeIn {
  0% {opacity: 0;}

  100%{opacity: 1;}
}